<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../CSS/dangnhap.css" />
    <title>Web bán hoa</title>
</head>
<body>
    <div class="wrapper">
		<header class="headerr">
			<div class="container">
				<div id="logo">
					<p>NoFeb Flowers</p>
				</div>
				<nav id="hnav">
					<ul class="menu">
						<li><a href="../Template/trangchu.html">Trang chủ</a></li>
						<li><a href="../Template/lienhe.html">Liên hệ</a></li>
						<li><a href="../Template/giớithieeuej.html">Giới thiệu</a></li>
						<li><a href="../Template/tintuc.html">Tin tức</a></li>
						<li><a href="../Template/sanpham.html">Sản phẩm</a></li>
						<li><a href="../Template/dangnhap.html">Đăng nhập</a></li>
						<li><a href="../Template/đk.html">Đăng ký</a></li>
					</ul>
					
				</nav>
			</div>
		</header>
	</div>
  
	<div class="banner">
		<img class="banner" src="../Media/banner đn.jpg">
	</div>
  <main>
    <div class="lognin">
        <h1 class="lognin-heading">Logn in</h1>
        <button class="lognin-social">
          <i class="fa fa-google lognin-social-icon"></i>
          <span class="lognin-social-text">Logn in with Google</span>
        </button>
        <div class="lognin-or"><span>Or</span></div>
        <form action="#" class="lognin-form" autocomplete="off">
          <label for="email" class="lognin-label">Email</label>
          <input type="text" id="email" class="lognin-input" placeholder="Eg: 2200000511@nttu.edu.vn">
          <label for="password" class="lognin-label">Password</label>
          <input type="password" id="password" class="lognin-input" placeholder="Eg: 123456789">
          <button class="lognin-submit">Logn in</button>
        </form>
        <p class="lognin-already">
          <span>Do not have an account ?</span>
          <a href="../Template/đk.html" class="lognin-login-link">Sign up</a>
        </p>
      </div>
    </main>
    <footer>
		<div class="extend-f">
			<nav class="footnav3">
				<h3>Mạng Xã Hội</h3>
				<ul>
					<li><a href="#">Facebook</a></li>
					<a href="https://www.facebook.com/profile.php?id=100025147082187"><i class="fa-brands fa-facebook" style="color: #381ff4;"></i></a>
					<li class="insta"><a href="#">Instagram</a></li>
					<a href="https://www.instagram.com/pd._.hd/?next=%2F"><i class="fa-brands fa-instagram" style="color: #a5314e;"></i></a>
					
				</ul>
			</nav>
			
			<nav class="footnav2">
				<h3>Danh mục</h3>
				<ul>
					<li><a href="../Template/trangchu.html">Trang chủ</a></li>
					<li><a href="../Template/giớithieeuej.html">Giới thiệu</a></li>
					<li><a href="../Template/lienhe.html">Liên hệ</a></li>
					<li><a href="../Template/sanpham.html">Sản phẩm</a></li>
					<li><a href="../Template/tintuc.html">Tin tức</a></li>
					
				</ul>
			</nav>
			<nav class="footnav1">
				<h3>Thông Tin</h3>
				<ul>
					<li><a href="#">Đ/c: 184 Đường Thạnh Lộc 19,Phường Thạnh Lộc,Quận 12,TP.HCM</a></li>
					<li><a href="#">Sdt: 0979272640</a></li>
					<li><a href="#">Gmail: 2200000511@nttu.edu.vn</a></li>
					<li><a href="#">Thời gian làm việc: 8h00-18h00 </a></li>
					
				</ul>
			</nav>
		</div>
		<div class="root-f">
			<h4>Bản quyền thuộc &copy;Lê Thị Hải Duyên|2200000511.nttu.edu.vn</h4>
		</div>
	</footer>
	<script src="https://kit.fontawesome.com/529f10db53.js" crossorigin="anonymous"></script>
  
</body>
</html>